################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
private

[branch "public"]
excludesfile = +info/exclude_public